@model ContactViewModel
@{
  ViewBag.Title = "Contact Us";
}

@section scripts {
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<form method="post">
  <label asp-for="Name">Your name:</label><br />
  <input asp-for="Name" />
  <span asp-validation-for="Name"></span>
  <br />
  <label asp-for="Email">Email</label><br />
  <input asp-for="Email" type="email" />
  <span asp-validation-for="Email"></span>
  <br />
  <label asp-for="Subject">Subject</label><br />
  <input asp-for="Subject" />
  <span asp-validation-for="Subject"></span>
  <br />
  <label asp-for="Message">Message</label><br />
  <textarea rows="4" asp-for="Message"></textarea>
  <span asp-validation-for="Message"></span>
  <br />
  <input type="submit" value="Send Message" />
</form>