@model ContactViewModel
@{ 
    ViewBag.Title = "Contact Us";
}
<form method="post">
  <label asp-for="Name">Your name:</label><br />
  <input asp-for="Name"/><br />
  <label asp-for="Email">Email</label><br />
  <input asp-for="Email" type="email" /><br />
  <label asp-for="Subject">Subject</label><br />
  <input asp-for="Subject"/><br />
  <label asp-for="Message">Message</label><br />
  <textarea rows="4" asp-for="Message"></textarea><br />
  <input type="submit" value="Send Message" />
</form>