@{
  ViewBag.Title = "Home Page";
}
<div class="row">
  <div class="col-md-9">
    <div class="product-info">
      <img src="img/VanGogh.jpg" />
      <h3>Mug</h3>
      <ul class="product-props">
        <li>Price: $9.99</li>
        <li>Artist: Van Gogh</li>
        <li>Title:</li>
        <li>Description: Self Portrait</li>
      </ul>
      <button id="buyButton" class="btn btn-success">Buy</button>
    </div>
    <!-- Forms are used to fetch information from the user -->
    <div id="theForm">
      <form>
        <label>Your name:</label><br />
        <input /><br />
        <label>Email</label><br />
        <input type="email" /><br />
        <label>Subject</label><br />
        <input /><br />
        <label>Message</label><br />
        <textarea rows="4"></textarea><br />
        <input type="submit" value="Send Message" />
      </form>
    </div>
  </div>
  <div class="col-md-3">
    <p>This is a fun site to do some buying of dutch products.</p>
  </div>
</div>