@* this is not necessary but it gives intellisense *@
@model IEnumerable<Product>
@section Scripts {
  <script src="~/clientapp/dist/inline.bundle.js"></script>
  <script src="~/clientapp/dist/polyfills.bundle.js"></script>
  <script src="~/clientapp/dist/styles.bundle.js"></script>
  <script src="~/clientapp/dist/vendor.bundle.js"></script>
  <script src="~/clientapp/dist/main.bundle.js"></script>
}


<h1>Shop</h1>
<the-shop></the-shop>
