<h3>Shopping Cart</h3>
<div>#/Items: {{data.order.items.length}}</div>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <td>Product</td>
      <td>#</td>
      <td>$</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of data.order.items">
      <td>{{o.productCategory}} - {{o.productTitle}}</td>
      <td>{{o.quantity}}</td>
      <td>{{o.unitPrice | currency:"USD":true }}</td>
      <td>{{(o.unitPrice * o.quantity) | currency:"USD":true }}</td>      
    </tr>
  </tbody>

</table>